.section-features {
  padding: 60px 0;
  .feature-col {
    text-align: center;
    .feature-img-wrap {
      width: 98px;
      height: 98px;
      border-radius: 50%;
      background-color: $green;
      display: inline-block;
      margin-bottom: 30px;
      line-height: 98px;
      .feature-icon {
        color: #fff;
        font-size: 43px;
        vertical-align: middle;
      }
    }
  }
}