section {
  padding: 60px 0;
}

h2 {
  color: #222222;
  font-family: Raleway;
  font-size: 22px;
  font-weight: 600;
  line-height: 32px;
  margin: 0 0 25px;
}

h3 {
  color: #000000;
  font-family: Raleway;
  font-size: 24px;
  font-weight: 600;
  margin: 0 0 20px;
}

h4 {
  color: #2e2e2e;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 700;
  margin: 0 0 28px;
}

p {
  color: #848484;
  font-size: 16px;
  line-height: 26px;
}

.img-responsive {
  display: inline-block;
}

.text-green {
  color: #2ecc71;
}

.horizontal-centered-list {
  padding: 0;
  font-size: 0;
  display: inline-block;
}
.horizontal-centered-list > li {
  display: inline-block;
  list-style-type: none;
}

.section-intro {
  padding: 0;
  height: 600px;
  background: url("../img/intro-bg.jpg") no-repeat center;
  border-top: 10px solid #2ecc71;
}
.section-intro .intro-col-left,
.section-intro .intro-col-right {
  height: 590px;
}
.section-intro .intro-col-left {
  padding-top: 167px;
}
.section-intro .intro-col-left h1 {
  font-family: 'Pacifico', cursive;
  font-size: 60px;
  font-weight: 400;
  line-height: 1;
  color: #ffffff;
  margin: 0 0 36px;
}
.section-intro .intro-col-left p {
  color: #ffffff;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  margin-bottom: 26px;
}
.section-intro .intro-col-left .operating-system-link {
  width: 52px;
  height: 52px;
  background-color: #030303;
  opacity: .7;
  text-align: center;
  line-height: 52px;
  color: #fff;
  float: left;
  margin-right: 16px;
  border-radius: 50%;
  transition: background .3s, opacity .3s;
  font-size: 25px;
}
.section-intro .intro-col-left .operating-system-link:hover {
  background: #2ecc71;
  opacity: 1;
}
.section-intro .intro-col-right {
  line-height: 590px;
}
.section-intro .intro-col-right .intro-img {
  vertical-align: bottom;
}

.section-features .feature-col {
  text-align: center;
}
.section-features .feature-col .feature-img-wrap {
  width: 98px;
  height: 98px;
  border-radius: 50%;
  background-color: #2ecc71;
  display: inline-block;
  margin-bottom: 30px;
  line-height: 98px;
}
.section-features .feature-col .feature-img-wrap .feature-icon {
  color: #fff;
  font-size: 43px;
  vertical-align: middle;
}

.section-subscribe {
  background-color: #e3e3e3;
}
.section-subscribe .subscription-form {
  margin: 18px 0 30px;
}
.section-subscribe .subscription-form::after {
  content: '';
  clear: both;
  display: block;
}
.section-subscribe .subscription-form .subscription-form-input {
  width: 50%;
  float: left;
  height: 56px;
  line-height: 34px;
  padding: 10px 26px;
  border-radius: 15px 0 0 15px;
  border: 1px solid #c8c8c8;
  background-color: #ffffff;
  color: #848484;
  font-size: 18px;
}
@media (max-width: 530px) {
  .section-subscribe .subscription-form .subscription-form-input {
    width: 100%;
    border-radius: 15px;
    margin-bottom: 15px;
  }
}
.section-subscribe .subscription-form .subscription-form-button {
  float: left;
  height: 56px;
  line-height: 56px;
  text-align: center;
  border: 0;
  background-color: #2ecc71;
  border-radius: 0 15px 15px 0;
  color: #ffffff;
  font-family: Raleway;
  font-size: 22px;
  min-width: 140px;
  padding: 0 30px;
}
@media (max-width: 530px) {
  .section-subscribe .subscription-form .subscription-form-button {
    width: 100%;
    border-radius: 15px;
  }
}
.section-subscribe .video-iframe {
  border-radius: 7px;
}

.section-social .section-quote {
  color: #848484;
  font-family: "Helvetica Neue";
  font-size: 18px;
  font-style: italic;
  line-height: 30px;
  margin: 0 0 25px;
  padding: 0;
  border: 0;
}
.section-social .customers-list {
  margin-bottom: 60px;
  position: relative;
}
.section-social .customers-list::before {
  content: '';
  display: block;
  width: 50px;
  height: 50px;
  background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
  position: absolute;
  top: 0;
  left: 0;
}
.section-social .customers-list::after {
  content: '';
  display: block;
  width: 50px;
  height: 50px;
  background: linear-gradient(to left, white 0%, rgba(255, 255, 255, 0) 100%);
  position: absolute;
  top: 0;
  right: 0;
}
.section-social .customers-list .customer-item {
  margin-right: 5px;
}
.section-social .customers-list .customer-item:last-child {
  margin-right: 0;
}
.section-social .social-icon-list {
  margin: 14px 0 0;
}
.section-social .social-icon-list .social-icon-item {
  margin: 0 5px;
}
.section-social .social-icon-list .social-icon-item .social-icon-link {
  width: 34px;
  height: 34px;
  line-height: 34px;
  border-radius: 17px;
  background-color: #c5c5c5;
  display: block;
  font-size: 19px;
  color: #fff;
  opacity: .5;
  transition: background .3s, opacity .3s;
}
.section-social .social-icon-list .social-icon-item .social-icon-link:hover {
  background: #2ecc71;
  opacity: 1;
}
.section-social .social-icon-list .social-icon-item .social-icon-link span {
  vertical-align: middle;
}

/*# sourceMappingURL=style.css.map */
